* {
    margin: 0;
    padding: 0;
}

.content {
    width: 100%;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url("images/background.png");
    background-size: cover;
    -webkit-background-size: cover;
    background-position: center center;
    height: 100vh;
    position: relative;
    color: wheat;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

.content h1 {
    position: relative;
    bottom: 40px;
}

.container {
    display: flex;
    padding: 0 40px;
}

.projects {
    position: relative;
    top: 20px;
    /* display: flex; */
}

.btn {
    text-decoration: none;
    color: #fff;
    width: 200px;
    height: 100px;
    background-color: rgb(207, 162, 12);
    padding: 10px;
    border-radius: 5px;
    transition: background 0.5s;
}

.btn:hover {
    background-color: rgb(207, 123, 12);
}

.student {
    color: #fff;
    text-align: center;
    padding: 0 10px;
}

#student-2 {
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}